<section><h3>Collections</h3></section>
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">Featured Products</span>
  </h2>
  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/Grokking Algo 1.jpg"
            alt=""
          />
          <div class="product-action">
            <a
              class="btn btn-outline-dark btn-square"
              href="#"
              onclick="addSingleProductToCart({id:1,productName:'Grokking Algorithms',price:100})"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href="#"
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href="#"
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href="#"
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Description</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$140.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/interview.jpg"
            alt=""
          />
          <div class="product-action">
            <a
              class="btn btn-outline-dark btn-square"
              href="#"
              onclick="addSingleProductToCart({id:2,productName:' Master interview',price:100})"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Description</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$140.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/data.jpg"
            alt=""
          />
          <div class="product-action">
            <a
              class="btn btn-outline-dark btn-square"
              href="#"
              onclick="addSingleProductToCart({id:3,productName:'Data Science',price:100})"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Description</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$150.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/design patterns.jpg"
            alt=""
          />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Description</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$140.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/cloud.jpg"
            alt=""
          />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Description</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$160.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/machine.jpg"
            alt=""
          />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Description</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$170.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/php.jpg"
            alt=""
          />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Descriptione</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$120.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img
            class="img-styling1 img-fluid w-100"
            src="/assets/imgs/ps.jpg"
            alt=""
          />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="far fa-heart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" href=""
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a
            class="h6 text-decoration-none text-truncate"
            href="../Product Description/index.html"
            >Product Description</a
          >
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$100.00</h5>
            <h6 class="text-muted ml-2"><del>$180.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
